<div class="main-banner"></div>

<style>
  .main-banner {
    background-image: url({% if section.settings.ca_main_banner_image != blank %}{{ section.settings.ca_main_banner_image.src | image_url: width: 1548 }}{% endif %});
  }
</style>

{% schema %}
  {
    "name": "ca_main_banner",
    "tag": "div",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "ca_main_banner_image",
        "label": "Main Banner Image"
      }
    ],
    "presets": [
      {
        "name": "CA Main Banner"
      }
    ]
  }
{% endschema %}