{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}


<footer class="footer section-{{ section.id }}-padding main-footer">

  <div class="main-footer__logo">
    <img
      src="{{ 'Crown-and-Anchor-Square-Logo.svg' | asset_url }}"
      alt="Crown and Anchor"
      width="90"
      height="auto" />
  </div>
  <div class="main-footer__details">
    WARNING: Under the Liquor Control Reform Act 1998 it is an offence · To  
  supply alcohol to a person under the age of 18 years (Penalty exceeds
  $17,000)· For a person under the age of 18 years to purchase or receive
  liquor. (Penalty exceeds $700) Liquor Licence No. 57620445. ABN: 44134
  367 687. ACN: 134 367 687.
  </div>
</footer>

{% schema %}
  {
    "name": "t:sections.footer.name",
    "settings": []
  }
{% endschema %}