@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

:root {
  --index: calc(1vw + 1vh);
  --ca-primary-color: #a5d0e6;
  --ca-secondary-color: #2d749d;
  --ca-light-color: #e3effa;
  --ca-dark-color: #201d1d;
  --ca-contrast-color: #FF8A5B;
  --ca-decorative--font: "Patua One", serif;
}

body {
  background-color: var(--ca-light-color);
  color: var(--ca-dark-color);
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto fit-content(100px);
  grid-template-areas:
    "main"
    "footer";
}

.button {
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 6px;
  letter-spacing: 1px;
  font-family: var(--ca-decorative--font);
  text-transform: uppercase;

}


.main-content {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
}

.main-banner {
  background-image: url("images/top_banner_bkg.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: calc(var(--index) * 35);
  width: 100%;
  position: relative;
}

.top_banner_bottle_image {
  position: absolute;
  bottom: calc(var(--index) * 3.9);
  right: 35%;
  height: 80%;

}

.top_banner_logo {
  position: absolute;
  bottom: calc(var(--index) * 8);
  left: 15%;
  height: 70%;
  max-height: 350px;
}

.welcome-section {
  width: 100%;
  margin: 20px auto;
  max-width: 700px;
  padding: 0 30px;
}

.welcome-section h1 {
  font-weight: 400;
  font-size: 1.5rem;
}

.welcome-section__logo {
  width: 98%;
  max-width: 600px;
  margin-bottom: calc(var(--index) * 0.6);
}

.separator {
  width: 100%;
  margin: 40px 0;
}

.separator_icon {
  width: 40px;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  justify-content: center;
}

.product {
  width: 100%;
  position: relative;
  max-width: 280px;
}

.product .product__image_holder {
  width: 100%;
  margin: 0;
  text-align: center;
  filter: drop-shadow(0 12px 10px rgba(4, 29, 36, 0.3));
  position: relative;
}

.product .product__image {
  width: 100%;
  display: block;
  transition: transform 0.3s;
}

.product .product__image:hover {
  transform: scale(1.03);
}

.product .product__title {
  margin: 0 0 20px 0;
}

.product .product__title a {
  color: var(--ca-dark-color);
  text-decoration: none;
  font-size: 1.1rem;
}

.product .product__price {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 15px 0 10px 0;
  font-family: var(--ca-decorative--font);
  letter-spacing: 2px;
}

.product .product__buy_now_button {
  background-color: var(--ca-dark-color);
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: var(--ca-decorative--font);
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  transition: background-color 0.3s;
}

.product .product__buy_now_button a {
  color: white;
  text-decoration: none;
}

.product .product__buy_now_button:hover {
  background-color: var(--ca-secondary-color);
}

.main-header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.main-header .icons-holder {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 40px;
}

.main-header .icon-holder {
  width: calc(var(--index) * 1.2);
  position: relative;
}

/* .main-header .icons-holder__icon {
  width: 25px;
} */

.main-header .icons-holder__svg {
  width: 100%;
  filter: drop-shadow(1px 3px 3px rgba(255, 255, 255, 1));
}

.main-header .icons-holder__svg_path {
  fill: #201d1d;
  fill-rule: evenodd;
  stroke-width: 0px;
  transition: fill 0.3s;
}

.main-header .icons-holder__svg_path:hover {
  fill: #2d749d;
}

.main-header .icon_holder_number {
  background-color: var(--ca-contrast-color);
  position: absolute;
  top: -8px;
  right: -4px;
  z-index: 5;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  transition: transform 0.3s;
}

.main-header .icon_holder_number:hover {
  transform: scale(1.1);
}

.main-header .icon_holder_number span {
  font-size: 0.7rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__heading-link {
  width: 100%;
  max-width: 290px;
  display: block;
}

.main-footer {
  grid-area: footer;
  background-image: url("images/footer_ellipse.svg");
  background-size: 180%;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100%;
  padding: 30px 20px;
}

.main-footer .main-footer__logo {
  width: 100%;
  text-align: center;
}

.main-footer .main-footer__logo img {
  max-width: 90px;
}

.main-footer .main-footer__details {
  max-width: 600px;
  margin: 20px auto;
  font-size: 0.9rem;
  text-align: center;
}

.shopify-section {
  width: 100%;
}

.main_product_wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 130px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main_product_image img {
  display: block;
  margin: 0 auto;
}

.main_product_info {
  width: 100%;
  max-width: 700px;
  padding: 0 20px;
}

.main_product_info .product__title h1 {
  font-family: var(--ca-decorative--font);
  font-size: 3.5rem;
}

.main_product_info .product_price {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 20px 0 10px 0;
  letter-spacing: 2px;

}

.main_product_info .price-per-item__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.main_product_info .product-form__submit {
  padding: 20px;
  font-size: 1.2rem;
}

.contact_form_holder {
  width: 100%;
  padding: 40px 20px;
  margin: 50px 0;
}

.contact_form_inner {
  max-width: 800px;
  margin: 0 auto;
}

.contact_form_holder h2 {
  font-size: 2rem;
  font-family: var(--ca-decorative--font);
}

.contact_form_holder .field__input {
  height: 3.5rem;
  font-size: 1.2rem;
}

.contact_form_holder .field__label {
  font-size: 1rem;
}

.contact_form_holder .field__input:focus~.field__label,
.contact_form_holder .field__input:not(:placeholder-shown)~.field__label,
.contact_form_holder .field__input:-webkit-autofill~.field__label,
.contact_form_holder .customer .field input:focus~label,
.contact_form_holder .customer .field input:not(:placeholder-shown)~label,
.contact_form_holder .customer .field input:-webkit-autofill~label {
  font-size: 0.6rem;
  top: calc(var(--inputs-border-width) + 0.6rem);
  left: calc(var(--inputs-border-width) + 1.8rem);
  letter-spacing: 0.04rem;
}


.contact_form_holder .contact__button {
  margin-top: 2rem;
}

.main_cart_holder {
  padding-top: 100px;
  padding-bottom: 40px;
}

.main_cart_holder h1 {
  font-size: 2.5rem;
  font-family: var(--ca-decorative--font);
}

h1.collection-hero__title {
  font-size: 2.5rem;
  font-family: var(--ca-decorative--font);
  margin: 20px 0;
}

.collection_banner_holder {
  padding-top: 80px;
  background-color: #fff;
}

.main_facet_holder .facets__heading {
  font-size: 1.2rem;
}

.main_facet_holder .facets__summary {
  font-size: 1.2rem;
}

.main_facet_holder .facet-filters__label {
  font-size: 1.2rem;
}

.main_facet_holder .facet-filters__sort {
  font-size: 1.2rem;
}

.main_facet_holder .product-count__text {
  font-size: 1.2rem;
}

.main_facet_holder .button-label {
  font-size: 1.2rem;

}

@media screen and (max-width: 1100px) {
  .main-banner {
    min-height: calc(var(--index) * 30);
  }

  .main_product_info .product__title h1 {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 840px) {
  .main-banner {
    min-height: calc(var(--index) * 25);
  }

  .main_product_wrapper {
    width: 96%;
    padding-top: 90px;
  }

  .main_product_image {
    width: 100%;
    max-width: 500px;
  }

  .main_product_image img {
    max-height: 600px;
    width: auto;
  }

  .main_product_info .product__title h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .main-banner {
    min-height: calc(var(--index) * 20);
  }

  .main-header .icon-holder {
    width: calc(var(--index) * 2);
  }

  .welcome-section {
    padding: 0 20px;
  }

  .main-header .icons-holder {
    padding: 20px;
  }

  .main-footer {
    background-size: 300%;
  }

  .main_product_wrapper {
    width: 92%;
    padding-top: 70px;
    flex-direction: column;
  }

  .main_product_image {
    max-width: 100%;
  }

  .main_product_info {
    max-width: 100%;
    padding: 30px 0 0 0;
  }

  .main_product_info .product__title h1 {
    font-size: 1.6rem;
  }

  .collection_banner_holder {
    padding-top: 60px;
  }

  .main_cart_holder {
    padding-top: 70px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 420px) {
  .main-banner {
    min-height: calc(var(--index) * 15);
  }

  .main-footer {
    background-size: 500%;
    background-color: var(--ca-primary-color);
  }
}